<html>
  <body>
    <img id="bg" src="{{ url_for('get_image') }}"></img>
    <button onclick="get_new_image()">New Image</button>
    Refresh Interval (sec): <input type="number" id="refresh_interval" min=1 value=1></input>
	<script>
		var auto_image_refresh=false;
		var auto_image_refresh_interval = document.getElementById("refresh_interval").value*1000; //1 second
		var interval_ID;
		document.getElementById("refresh_interval").addEventListener('input',function()
			{
				auto_image_refresh_interval = document.getElementById("refresh_interval").value*1000;
				clearInterval(interval_ID);
				interval_ID = setInterval(get_new_image,auto_image_refresh_interval);
			});
  		function get_new_image()
  		{
        	var latest_pic = document.getElementById("bg");
        	console.log("I ran it");
        	console.log("Interval Time:"+ auto_image_refresh_interval);
        	latest_pic.src="{{url_for('get_image')}}?time="+new Date().getTime();
  		} 
  		document.body.onkeyup = function(e)
  		{
  			console.log(e.keyCode);
  			if (e.keyCode == 32)
  			{
  				console.log("SPACEBAR");
  				get_new_image();
  			}
        	if (e.keyCode ==13)
        	{
          		console.log("ENTER");
          		auto_image_refresh = !auto_image_refresh;
          		console.log("AUTO REFRESH:"+auto_image_refresh);
          		if (auto_image_refresh)
          		{
          			interval_ID = setInterval(get_new_image,auto_image_refresh_interval);
          			console.log("interval_ID:"+interval_ID);
          		}
          		else
          		{
          			clearInterval(interval_ID);
          		}
        	}
  		}

  	</script>
</body>
</html>